<a href="https://colab.research.google.com/github/gousesair/Machine-Learning/blob/master/KNN_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.io import arff
import numpy
import math
import operator

In [13]:
from google.colab import files
uploaded = files.upload()

Saving testProdSelection.arff to testProdSelection (1).arff
Saving trainProdSelection.arff to trainProdSelection (1).arff

In [0]:
train=arff.loadarff("trainProdSelection.arff")
test=arff.loadarff("testProdSelection.arff")

In [0]:
trainDF = pd.DataFrame(traindata[0])
testDF = pd.DataFrame(testdata[0])

In [16]:
trainDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 7 columns):
Type         186 non-null object
LifeStyle    186 non-null object
Vacation     186 non-null float64
eCredit      186 non-null float64
salary       186 non-null float64
property     186 non-null float64
label        186 non-null object
dtypes: float64(4), object(3)
memory usage: 10.2+ KB

In [17]:
trainDF.head()

         Type        LifeStyle  Vacation  eCredit  salary  property  label
0  b'student'  b'spend>saving'       6.0     40.0   13.62    3.2804  b'C1'
1  b'student'  b'spend>saving'      11.0     21.0   15.32    2.0232  b'C1'
2  b'student'  b'spend>saving'       7.0     64.0   16.55    3.1202  b'C1'
3  b'student'  b'spend>saving'       3.0     47.0   15.71    3.4022  b'C1'
4  b'student'  b'spend>saving'      15.0     10.0   16.96    2.2825  b'C1'

In [0]:
trainDF.Type=trainDF.Type.str.decode("UTF-8")

trainDF.LifeStyle=trainDF.LifeStyle.str.decode("UTF-8")

trainDF.label=trainDF.label.str.decode("UTF-8")

In [18]:
trainDF.head()

         Type        LifeStyle  Vacation  eCredit  salary  property  label
0  b'student'  b'spend>saving'       6.0     40.0   13.62    3.2804  b'C1'
1  b'student'  b'spend>saving'      11.0     21.0   15.32    2.0232  b'C1'
2  b'student'  b'spend>saving'       7.0     64.0   16.55    3.1202  b'C1'
3  b'student'  b'spend>saving'       3.0     47.0   15.71    3.4022  b'C1'
4  b'student'  b'spend>saving'      15.0     10.0   16.96    2.2825  b'C1'

In [0]:
minVal=trainDF.Vacation.min()
maxVal=trainDF.Vacation.max()
trainDF.Vacation=trainDF.Vacation.apply(lambda x:(x-minVal)/(maxVal-minVal))

In [0]:
minVal=trainDF.eCredit.min()
maxVal=trainDF.eCredit.max()
trainDF.eCredit=trainDF.eCredit.apply(lambda x:(x-minVal)/(maxVal-minVal))

In [0]:
minVal=trainDF.salary.min()
maxVal=trainDF.salary.max()
trainDF.salary=trainDF.salary.apply(lambda x:(x-minVal)/(maxVal-minVal))

minVal=trainDF.property.min()
maxVal=trainDF.property.max()
trainDF.property=trainDF.property.apply(lambda x:(x-minVal)/(maxVal-minVal))

In [24]:
trainDF.head()

         Type        LifeStyle  Vacation   eCredit    salary  property  label
0  b'student'  b'spend>saving'  0.079365  0.107558  0.219960  0.183167  b'C1'
1  b'student'  b'spend>saving'  0.158730  0.052326  0.293102  0.112797  b'C1'
2  b'student'  b'spend>saving'  0.095238  0.177326  0.346023  0.174200  b'C1'
3  b'student'  b'spend>saving'  0.031746  0.127907  0.309882  0.189984  b'C1'
4  b'student'  b'spend>saving'  0.222222  0.020349  0.363663  0.127311  b'C1'

In [0]:
testDF.Type=testDF.Type.str.decode("UTF-8")

testDF.LifeStyle=testDF.LifeStyle.str.decode("UTF-8")

testDF.label=testDF.label.str.decode("UTF-8")

In [0]:
minVal=testDF.Vacation.min()
maxVal=testDF.Vacation.max()
testDF.Vacation=testDF.Vacation.apply(lambda x:(x-minVal)/(maxVal-minVal))

In [0]:
minVal=testDF.eCredit.min()
maxVal=testDF.eCredit.max()
testDF.eCredit=testDF.eCredit.apply(lambda x:(x-minVal)/(maxVal-minVal))

In [0]:
minVal=testDF.salary.min()
maxVal=testDF.salary.max()
testDF.salary=testDF.salary.apply(lambda x:(x-minVal)/(maxVal-minVal))

In [0]:
minVal=testDF.property.min()
maxVal=testDF.property.max()
testDF.property=testDF.property.apply(lambda x:(x-minVal)/(maxVal-minVal))

In [31]:
testDF.head()

   Type  LifeStyle  Vacation   eCredit    salary  property  label
0   NaN        NaN      0.20  0.058824  0.104637  0.398926    NaN
1   NaN        NaN      0.54  0.021008  0.175059  0.243041    NaN
2   NaN        NaN      0.52  0.231092  0.138339  0.085992    NaN
3   NaN        NaN      0.26  0.151261  0.430086  0.116229    NaN
4   NaN        NaN      0.00  0.016807  0.352657  0.025714    NaN